<div class="container" ng-init="init()">
    <div class="row">
      <div class="col-md-9">
        <h1>My Medication List</h1>
      </div>
      <div class="col-md-3">
        <button id="btnhelp" type="submit" class="btn btn-primary" style="float:right; margin-top:15px;">Help</button>
      </div>
    </div>
      <div class="row">
      <p>My medication list allows you to keep a list of all the medication you are currently taking and share it with your medical provider using a hyperlink.The hyper link is located at the bottom of the page and is available after you have created a list of your medicatuions and clicked the save button.You can access additional help  associated with this application by clicking on the help button or sending us an email at support@xfinion.com You can also call us at 301.801.4897 Monday to Friday between the hours of 8am and 6pm.Thank you using My Medication List.</p>
    </div>  
      <div class="row">
        <form class="form-inline">
          <div class="form-group">           
              <input type="text" placeholder="Search" id="input-search" class="form-control" style="width:350px;" ng-model="search.query">
          </div>
          <button id="btnSearch" type="button" class="btn btn-primary" ng-click="performsearch();">Lookup</button>&nbsp;<img src="images/image.gif" ng-if="showLoading"/>
      </form>
    </div>
    <div class="row"></div>
      <div class="row">
        <div class="col-md-6">
          <section class="result-container">          
            <p ng-repeat="r in results" class="br-bottom">
              {{ r.openfda.substance_name[0]}}<br /><b>Brand:</b> {{ r.openfda.brand_name[0]}}<a href="javascript:void(0);" style="float:right; cursor:pointer;" ng-click="add(r)">Add</a>
            </p>
          </section>
        </div>
        <div class="col-md-1">
          <center><div class="vr"></div></center>
        </div>
        <div class="col-md-5">
          <section class="selected-result-container">
            <p ng-repeat="sr in selectedresults" class="br-bottom">
              {{ sr.openfda.substance_name[0]}}<br /><b>Brand:</b> {{ sr.openfda.brand_name[0]}}<a href="javascript:void(0);" style="float:right; cursor:pointer;" ng-click="remove(sr)">Remove</a>
            </p>
          </section>
        </div>
    </div>
    <hr />
    <section class="col-md-12">
      <div class="col-md-8">
        <p><a id="mymedurl" href="http://localhost:3000/1234567">http://localhost:3000/1234567</a></p>
      </div>
      <div class="col-md-4">
        <button id="btnSave" type="button" class="btn btn-primary" ng-click="saveData();">Save</button>
      </div>      
      </section>
      <br /><br />
  </div>