<link rel="shortcut icon" href="images/favicon.png">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.min.css" rel="stylesheet">

 <style type="text/css">
  .navbar{
    margin-top: 20px;
  }
  .result-container
  {
    height:200px; 
    max-height: 200px; 
    margin-top:30px;
  }
  .selected-result-container
  {
    height:200px; 
    max-height: 200px; 
    margin-top:30px;
  }
  .vr
  {
    border-left:1px solid #dcdcdc;height:500px;margin-top:30px;
  }
  .br-bottom{
    border-bottom:1px solid #dcdcdc; padding:5px;
  }
</style>
  
   <div class="container" ng-init="init()">
    <div class="row">
      <div class="col-md-9">
        <a href="/" style="text-decoration:none"><h1>My Medication List</h1></a>
      </div>
    </div>
      <div class="row">
      <p>My medication list allows you to keep a list of all the medication you are currently taking and share it with your medical provider using a hyperlink.The hyper link is located at the bottom of the page and is available after you have created a list of your medicatuions and clicked the save button.You can access additional help  associated with this application by clicking on the help button or sending us an email at support@xfinion.com You can also call us at 301.801.4897 Monday to Friday between the hours of 8am and 6pm.Thank you using My Medication List. You can review our privacy policy <a href="#" id="btnprivacy" data-toggle="modal" data-target="#privacyModal" >here</a></p>
    </div>  
  </div>
<div style="margin:25px;">
  <h1>Requested Web page not found.</h1>
   </div>
  